@{
    ViewData["Title"] = "Home Page";
}

<!-- Import Leaflet CSS -->
<link rel="stylesheet" href="~/app/leaflet/leaflet.css" />
<link href="~/css/style.css" rel="stylesheet" />


<div id="map" style="width:100%"></div>

<!-- Import Leaflet JS -->
<script src="~/app/jquery/dist/jquery.min.js"></script>
<script src="~/app/leaflet/leaflet.js"></script>
<script src="~/app/extscripts/js/Chart.js"></script>
<script src="~/js/site.js"></script> 