#map {
    height: calc(100vh - 0px);
    position: relative;
    z-index: 1;
}

.leaflet-control-layers {
    float: right;
    top: 500px;
    right: 0;
    /* margin-left:-200px; */
    position: absolute;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: whitesmoke;
}

.custom-leaflet-popup-title {
    font-size: 22px;
    font-weight: bold;
    color: #99000d;
}

.custom-leaflet-popup-subtitle1 {
    font-size: 17px;
    font-weight: bold;
    color: red;
}

.custom-leaflet-popup-subtitle2 {
    font-size: 17px;
    font-weight: bold;
    color: green;
}

.custom-leaflet-popup-content {
    font-size: 15px;
    color: grey;
}

.legend {
    padding: 6px 10px;
    width: 200px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: whitesmoke;
    z-index: 1005;
}

#legendTitle {
    text-align: center;
    margin-bottom: 15px;
    color: whitesmoke;
    font-weight: bold;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.legend-label {
    font-size: 14px;
}

/* Style for the Leaflet control container */
.leaflet-control-dropdown {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #C8C8C8;
}

/* Style for the region title */
.leaflet-control-title {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #99000d;
}

/* Style for the dropdowns */
.leaflet-control-dropdown select {
    width: 100%;
    padding: 4px;
    border: 1px solid #ff1302;
    border-radius: 3px;
    background-color: #f8f8f8;
    font-size: 12px;
    color: #333;
}

    .leaflet-control-dropdown select option:checked {
        background-color: #ffc0b8;
    }

/* Style for the selected data */
.leaflet-control #filteredData {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: right;
}

.metric-number {
    font-weight: bold;
    text-align: right;
}

.metric-label {
    font-weight: normal;
    font-size: 12px;
    margin-top: 5px;
    color: black;
}
