#map {
    height: calc(100vh - 0px);
}

.leaflet-control-layers {
    float: right;
    top: 500px;
    right: 0;
    /* margin-left:-200px; */
    position: absolute;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: whitesmoke;
}

.custom-leaflet-popup-title {
    font-size: 22px;
    font-weight: bold;
    color: #99000d;
}

.custom-leaflet-popup-subtitle1 {
    font-size: 17px;
    font-weight: bold;
    color: red;
}

.custom-leaflet-popup-subtitle2 {
    font-size: 17px;
    font-weight: bold;
    color: green;
}

.custom-leaflet-popup-content {
    font-size: 15px;
    color: grey;
}